/* Resets margin and padding for all elements */
* {
  margin:0px;
  padding:0px;
}

/* Smooth scrolling behavior for the whole page */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;

    /*scroll bar design vertical.*/
    scrollbar-width: thin; /* Can be "auto", "thin", or "none" */
    scrollbar-color: #555 #333; /* Thumb and track color */
}

/*General styling for body*/
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

#top-page-skills{
  font-size: 65px;
  color: #F5F5F7;
}

.bg-custom{
  /*CSS rule for the custom background color TAILWIND*/
  background-color: #000000;
}

.projects{
  background-color: #101010;
}

#top-page-projects{
  z-index:5; /*this is so its above the carousel*/
  margin-bottom: -30px;
  font-size: 65px;
  color: #F5F5F7;
}

footer{
  margin-top:15px;
  text-align: center;
  color: #F5F5F7;
  background-color: #222222;
  padding:15px;
  font-size: 0.9em;
}

.footer-logo{
  width: 30px;
  margin:auto;
  padding-bottom:10px; 
}

/* Small screens (phones)*/
@media screen and (max-width: 600px) {
  /*make footer text smaller*/
  footer{
    font-size: 0.8em;
  }
  
}